




// COLOURS

$accentBlue: #148fe8;
$ice: #88c0d0;
$teal:  #48b0c8;
$white:  #ffffff;
$snow:   #eceff4;
$arcticGrey:  #f2f4f8;
$muteRed:  #bf616a;
$muteYellow: #ebcb8b;
$yellow: #f9c747;
$green:  #3f8f5f;
$blue: #1b66ca;

// Dark Mode
$nordGrey:  #3b4254;
$nordDarkerGrey: #292e39;

//  FONT COLOURS
$greyBlueFont: #5e81ac;
$steel: #6d7a96;
$lightGreyFont: #7b88a1;
$darkGreyFont: #4c566a;

// FONTS
$mainFont: "Source Code Pro", monospace;